.wrapper{
    display: flex;
    padding: 2px 21px;
    justify-content: center;
    align-items: center;
    
    
}
.left{
    display: flex;
    width: 33.33333%;
   
}
input{
    height: 22px;
    width: 160px;
    border: none;
}
.lan{
    padding-right: 20px;
    color: white;
}
.center{
flex: 1;
    width: 33.33333%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.right{
    display: flex;
    width: 33.33333%;
    justify-content: flex-end;
}
.MenuItems{
    margin-left: 25px;
    cursor: pointer;
    color: white;

}
.center h1{
    color: #ff7300;
    cursor: pointer;
}
.Input{
    display: flex;
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
}
ul{
    display: flex;
    list-style: none;
    
}
a{
    text-decoration: none;
}
.Nav_container{
    background-color: #0e0b0b;
}
.InputSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
width: 40px;

}
